<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Ticket Template</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12"><h3>Ticket:</h3></div>

            <div class="col-6">
                <h5>Estacion:</h5>
                <div id="stations"></div>
                <button onclick="addStation()">+</button>
                <button onclick="removeStation()">-</button>
            </div>

            <div class="col-6">
                <h5>Linea de contacto:</h5>
                <div>
                    <select name="phone.id" id="phone-id">
                        <option value="+569">+569</option>
                        <option value="+569">+562</option>
                        <option value="+">+</option>
                    </select>
                    <input type="phone" name="phone" placeholder="Numero de linea">
                    <button>Copiar</button>
                </div>
                <button>+</button>
                <button>-</button>
            </div>

            <div class="col-6">
                <h5>Nombre del funcionario:</h5>
                <input type="text" name="nombre"  id="name" placeholder="Nombre del funcionario">
                <button>Validar</button>
            </div>

            <div class="col-6">
                <h5>Nombre de usuario:</h5>
                <input type="text" name="name" id="user" placeholder="Nombre de usuario">
            </div>

            <div class="col-6">
                <h5>Email:</h5>
                <input type="text" placeholder="correo electronico del funcionario"> @
                <select name="email" id="email">
                </select>
                <button>Copiar</button>
            </div>

            <div class="col-6">
                <h5>Sucursal:</h5>
                <select name="branch" id="branch">
                </select>
                <input type="text" name="branch" placeholder="Nombre sucursal">
                <button>Validar</button>
                <input type="text" name="branch_dir" placeholder="(Opcional) Direccion">
                <input type="text" name="branch_dir" placeholder="(Opcional) Horario atencion">
            </div>

            <div class="col-6">
                <h5>Mantencion preventiva:</h5>
                <select name="mantain" id="mantain">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>

            <div class="col-6">
                <h5>Remoto:</h5>
                <select name="remote" id="remote">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>


            <div class="col-6">
                <h5>Grupo Resolutor:</h5>
                <select name="resolutor" id="resolutor">
                </select>
                <select name="action" id="action">
                </select>
            </div>

            <div class="col-6">
                <h5>Aplicacion:</h5>
                <select name="tax" id="tax">
                </select>
            </div>

            <div class="col-12">
                <h5>Problema:</h5>
                <input type="text" name="problem" id="problem" placeholder="Problema" style="width: 100%;">
                <input type="text" name="tests" id="tests" placeholder="Prueba de mesa" style="width: 100%;">
            </div>

            <div class="col-12">
                <button>Adjuntar archivo</button>
                <button>Subir Ticket</button>
                <button onclick="copyToClipboard(get_ticket())">Copiar Ticket</button>
                <button onclick="copyToClipboard(get_ticket_title())">Copiar titulo</button>
                <button>Copiar como correo</button>
                <button>Copiar titulo del correo</button>
            </div>
        </div>
    </div>

    <script src="/src/Classes/Station.js"></script>
    <script src="/src/Excel_Controller.js"></script>
    <script src="/src/Get_Data_As.js"></script>
</body>
</html>